<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625454460532-8g6evpua3i1ja99v71g5vn4rklhf9si2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625454460532-8g6evpua3i1ja99v71g5vn4rklhf9si2</string>
	<key>API_KEY</key>
	<string>AIzaSyCaGJayKxS8Yy4-lX-AMuS-uLXCOyMEcwM</string>
	<key>GCM_SENDER_ID</key>
	<string>625454460532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasksync</string>
	<key>PROJECT_ID</key>
	<string>telegram-bots-c3c1f</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-bots-c3c1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625454460532:ios:baad6074dee34b48626b21</string>
</dict>
</plist>